<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">
<title>OrganizeMe</title>
<link rel="stylesheet" href="../assets/css/bootstrap.min.css"
	th:href="@{/assets/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../assets/css/organizeme-theme.css"
	th:href="@{/assets/css/organizeme-theme.css}" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../assets/js/jquery-2.1.1.min.js"
	th:src="@{/assets/js/jquery-2.1.1.min.js}"></script>
<script src="../assets/js/jquery-2.1.1.min.js"
	th:src="@{/assets/js/bootstrap.min.js}"></script>
<!-- NOTRE SCRIPT MAISON -->
<script src="../assets/js/organizeme.js"
	th:src="@{/assets/js/organizeme.js}"></script>
</head>
<body>
	<!-- Modal -->
	<div th:fragment="simple-modal" class="modal fade" id="modal"
		tabindex="-1" role="dialog" aria-labelledby="modalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content" id="modalContent"></div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- Breadcrumb -->
	<div th:fragment="breadcrumb">
		<ol th:if="${breadcrumbLinks}" class="breadcrumb">
			<li th:each="breadcrumbLink : ${breadcrumbLinks}"><a href="#" th:href="${breadcrumbLink.href}" th:text="${breadcrumbLink.label}" th:class="${breadcrumbLink.cssClass}"></a></li>
		</ol>
	</div>
	<!-- Corps de page -->
	<div class="col-md-9" th:fragment="ajax-content">
		<!-- Message Ajax -->
		<div id="ajaxMessage"></div>
		<!-- Contenu de la page -->
		<div id="ajaxPanel"></div>
	</div>
	
	<!-- FOOTER -->
	<footer th:fragment="footer">
		<div class="container text-center">
		<p class="text-muted credit"> Copyright 2014 TALSOFT
			| OrganizeMe
		</p></div>
	</footer>
</body>

</html>