<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment">
</head>
<body>
	<div sec:authorize="hasAnyRole('ROLE_USER, ROLE_ADMIN')"
		th:include="fragment/navbars :: signed-navbar"
		class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	</div>

	<!-- corps u tâches -->
	<div class="container top-20">
		<!-- Sidebar -->
		<div class="col-md-2 sidebar-offcanvas" id="sidebar" role="navigation"
			th:include="fragment/sidebars :: user-sidebar"></div>
		<!-- Corps -->
		<div class="col-md-10">
			<!-- Cadre de rendu ajax -->
			<div id="ajaxMessage"></div>
			<!-- Boutons d'action -->
			<ul class="nav nav-pills">
				<li th:if="${newTaskLink}"><a class="btn addForm"
					href="/tasks/new" th:href="${newTaskLink.href}" role="button"
					data-toggle="modal" data-target="#modal"><i
						class="glyphicon glyphicon-plus"></i> Ajouter une tâche</a></li>
			</ul>
			<div th:replace="domain/display/tables :: tasks-table"></div>

		</div>
	</div>
	<!-- Modal, si besoin -->
	<div th:replace="fragment/common :: simple-modal"></div>
	<!-- footer -->
	<footer th:include="fragment/common :: [//footer]"></footer>
</body>
</html>