<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<!-- Appender pour sortie standard -->
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%p] %d [%t] [%c] : %m%n
			</pattern>
		</encoder>
	</appender>

	<!-- logger courant -->
	<logger name="com.talsoft.organizeme" level="INFO" additivity="true" />

	<!-- Datasource logger -->
	<logger name="com.mchange" level="OFF" additivity="false"/>

	<!-- root, DEBUG désactivé -->
	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>

</configuration>
