body {
	padding-bottom: 20px;
	padding-top: 50px;
}

.navbar-logout-link{
	float: right;
    font-size: 14px;
    height: 50px;
    line-height: 20px;
    padding: 15px;
}

.top-20 {
	margin-top: 20px;
}

.center {
	text-align: center !important;
}

.middle {
	vertical-align: middle !important;
}

.inputLabel {
	width: 100px;
	text-align: right;
	padding-right: 20px;
	font-weight: bold !important;
}

.right {
	text-align: right !important;
}

.left {
	text-align: left !important;
}

.margined {
	margin-bottom: 40px;
	margin-top: 20px;
}

.bordered-bottom{
	border-bottom : 1px solid #eee;
	padding-bottom: 5 px;
}

#upload{
	opacity: 0; 
	filter:alpha(opacity: 0);
}

/* footer {
	background-color: #F5F5F5;
	bottom: 0;
	height: 60px;
	position: absolute;
	width: 100%;
} */

#footerText {
	text-align: center;
	position: fixed;
	bottom: 0;
}