<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment">
</head>
<body>
	<!-- corps, utilisateur non loggué -->
	<div th:if="${login == null}" class="container top-20" th:fragment="unsigned-homepage">
		<div class="alert alert-danger alert-dismissable"
			th:if="${(param.error != null) and (param.error[0] == 'true')}">
			<button class="close" aria-hidden="true" data-dismiss="alert"
				type="button">×</button>
			<strong>Erreur d'authentification : </strong> login et/ou mot de
			passe inconnu(s).
		</div>
		<div class="alert alert-success alert-dismissable"
			th:if="${(param.logout != null) and (param.logout[0] == 'successful')}">
			<button class="close" aria-hidden="true" data-dismiss="alert"
				type="button">×</button>
			<strong>Vous avez été déconnecté du service.</strong>
		</div>
		<div class="alert alert-success alert-dismissable"
			th:if="${loginNewUser}">
			<button class="close" aria-hidden="true" data-dismiss="alert"
				type="button">×</button>
			<p>
				Bienvenue <strong th:text="${loginNewUser}">login</strong>!<br />
				Vous pouvez dès à présent utiliser vos identifiants pour vous
				connecter au service.<br />
			</p>
		</div>
		<!-- <div th:include="fragment/registration :: registration-form"> -->
		<div class="jumbotron">

			<h1>OrganizeMe</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
				enim enim, commodo eget euismod vestibulum, pellentesque porta
				lacus. Vivamus quis metus magna.</p>
			<p>Suspendisse vestibulum, enim ut pharetra hendrerit, sapien
				nulla aliquam nisl, ut feugiat risus felis non mi.</p>

			<p>AND BLABLABLA !</p>
			<p>
				<a href="/registration" th:href="@{/registration}"
					class="btn btn-primary btn-lg" role="button" data-toggle="modal"
					data-target="#modal">S'inscire</a>
			</p>
		</div>
	</div>
	<footer th:include="fragment/common :: [//footer]"></footer>
</body>
</html>