<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: headerFragment">
</head>
<body>
		<div sec:authorize="hasAnyRole('ROLE_USER, ROLE_ADMIN')"
			th:include="fragment/navbars :: signed-navbar"
			class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		</div>
		
	<!-- corps utilisateur simple -->
	<div th:if="${login != null}" sec:authorize="hasRole('ROLE_USER')"
		class="container top-20" th:replace="homepages/user :: user-homepage"></div>
	<!-- corps admin todo -->
	<!-- Modal, si besoin -->
	<div th:replace="fragment/common :: simple-modal"></div>
</body>
</html>