<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/common :: headerFragment">
</head>
<body>

	<!-- Modal -->
	<div th:replace="fragment/common :: simple-modal"></div>
	<!-- navbars -->
	<div th:if="${login == null}"
		th:include="fragment/navbars :: unsigned-navbar"
		class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	</div>
	<div sec:authorize="hasAnyRole('ROLE_USER, ROLE_ADMIN')"
		th:include="fragment/navbars :: signed-navbar"
		class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	</div>

	<!-- corps, utilisateur non loggué -->
	<div th:if="${login == null}" class="container top-20"
		th:replace="homepages/unsigned :: unsigned-homepage"></div>
	<!-- corps utilisateur simple -->
	<div th:if="${login != null}" sec:authorize="hasRole('ROLE_USER')"
		class="container top-20" th:replace="homepages/user :: user-homepage"></div>
	<!-- TODO corps admin -->
	<!-- footer -->
	<footer th:include="fragment/common :: [//footer]"></footer>
</body>
</html>